<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: head">
</head>
<body>
<h2>CATEGORIES LIST</h2>
<div style="width: 50vw">
    <!--nút thêm mới-->
    <p id="add-category" th:hidden="false">
        <a th:href="@{/category/create}" style="float: left; padding: 8px">
            Add new category
        </a>
    </p>
    <!--thanh tìm kiếm-->
    <div style="display: inline;float: right; width: 300px; height: 50px; margin: 8px">
        <form th:action="@{/category/search}" method="get">
            <input type="text" id="search-content" name="search-content" placeholder="Search by name"
                   style="display: inline; width: 70%; padding: 8px">
            <button type="submit">Search</button>
        </form>
    </div>
    <!--form xác nhận xoá-->
    <form id="delete-category" method="post" action="/category/delete" hidden>
        <input hidden name="id-delete" id="id-delete" value="">
        <h4>Xoá nhận xoá</h4>
        <div>
            <button type="button" onclick="hideConfirmForm()">No</button>
            <button type="submit">Yes</button>
        </div>
    </form>

    <!--thông báo thành công/thất bại-->
    <div class="notify">
        <div th:if="${status}">
            <!--/*@thymesVar id="success" type="com.codegym.controller"*/-->
            <span th:text="${status}"></span>
        </div>
    </div>

    <!--danh sách sản phẩm-->
    <table id="blogs">
        <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th>Name</th>
            <th style="width: 30%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td>
                <a th:href="@{/category/view/__${category.id}__}" th:text="${category.id}"></a>
            </td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/category/edit/__${category.id}__}">Edit</a>
                <a href="#" th:onclick="|confirmDelete('${category.id}')|">Delete</a>
            </td>
        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
    <a href="/blog/">Blog list</a>
</div>
<a href="/category">Category list</a>
<footer th:replace="/layout :: footer"></footer>
</body>
<script>
    function confirmDelete(id) {
        document.getElementById("id-delete").value = id;
        document.getElementById("add-category").hidden = true;
        document.getElementById("delete-category").hidden = false;
    }
</script>
<script>
    function hideConfirmForm() {
        document.getElementById("add-category").hidden = false;
        document.getElementById("delete-category").hidden = true;
    }
</script>
</html>