<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<h2>BLOG LIST OF CATEGORY</h2>
<table id="blogs" style="width: 50vw">
    <tr>
        <th class="th-view">Name</th>
        <td th:text="${category.nameCategory}" style="background-color: #59f75d"></td>
    </tr>
    <tr>
        <th class="th-view" th:rowspan="${category.getBlogs().size() + 1}">Blog list</th>
    </tr>
    <tr th:each="blog : ${category.getBlogs()}">
        <td><a th:href="@{/blog/view/__${blog.id}__}" th:text="${blog.titleBlog}"></a></td>
    </tr>
</table>
<a href="/category">
    Back to home
</a>
<footer th:replace="/layout::footer"></footer>
</body>
</html>